[Unit]
Description=Magician Backend
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/home/ubuntu/tphan025/magician/backend
ExecStart=/home/ubuntu/tphan025/magician/backend/venv/bin/python app.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
